<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(<%= image_path('home_banner.jpg') %>)">
  <div class="container">
    <h1>Information</h1>
    <p>A tout moment!</p>
    <%#= link_to "Discover", render "article_card",article: article, class: "btn btn-flat" %>
    <%= link_to article_path(@article), class: "btn btn-flat" do %>
  Discover
<% end %>

  </div>
</div>
<% @articles.each do |article| %>
  <!-- Contenido del artículo aquí -->
  <%= link_to "Discover", article_path(article), class: "btn btn-flat" %>
<% end %>

<div class="container">
  <div class="section">
    <h2 id="how" class="text-center">How does it work?</h2>
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-4">
        <%= link_to new_article_path do %>
          <div class="icon">
            <%= image_tag "article.svg" %>
          </div>
        <% end %>
        <p class="text-center fs-24">Create your article</p>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <%= link_to new_article_path do %>
          <div class="icon">
            <%= image_tag "circles.svg" %>
          </div>
        <% end %>
        <p class="text-center fs-24">Add your commentaires</p>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <%= link_to new_article_path do %>
          <div class="icon">
            <%= image_tag "watering.svg" %>
          </div>
        <% end %>
        <p class="text-center fs-24">Edit your commentaire</p>
          <% @article.commentairess.each do |commentaire| %>
        <%= link_to manage_activity_commentaire_path(commentaire) %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="section">
    <h2 class="text-center">Our Community Best articles</h2>
    <div class="cards">
      <% @articles.each do |article| %>
        <%= render "article_card", article: article %>
      <% end %>
    </div>
  </div>
  <div class="section">
    <div class="text-center">
      <%= link_to "Create my article", new_article_path, class: "btn btn-flat" %>
    </div>
  </div>
</div>
